@font-face {
   font-family: 'jf-openhuninn-1.0';
   font-display: swap;
   src: url('file:///C:/Users/User/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-04-15_093202/fonts/jf-openhuninn-1.0/font.ttf');
}
